/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96.61%;
  margin: 0 auto;
}

header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  -ms-flex-preferred-size: 12.8%;
  flex-basis: 12.8%;
}

.main-logo {
  padding: 20px 0;
  display: block;
  background-color: #F6F6F6;
  color: #C7000C;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.profile-attachment {
  margin-right: 2%;
}

.profile-image {
  border-radius: 50%;
}

.main-heading {
  font-size: 14px;
  text-transform: uppercase;
}

.account-number {
  color: #C7000C;
  font-size: 12px;
  font-weight: 600;
}

.address, .date-due {
  color: #000;
  font-size: 10px;
}

.header-content {
  -ms-flex-preferred-size: 87.2%;
  flex-basis: 87.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}

.profile {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.payment {
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}
.payment-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}
.payment-content {
  flex-basis: 51%;
}

.pay-now, .save-date {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}
.pay-now-cta, .save-date-cta {
  padding: 8px 24%;
  border-radius: 4px;
  background-color: #C7000C;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .pay-now-cta:hover, .save-date-cta:hover {
    background-color: #92000a;
  }
}

.save-date {
  margin-left: 6%;
}
.save-date-cta {
  padding: 8px 20%;
  background-color: #4C4C4C;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .save-date-cta:hover {
    background-color: #272727;
  }
}

.header-cta {
  margin-left: 4.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.header-cta-link {
  margin: 0 7px;
  border-right: 1px solid #DFDFDF;
  position: relative;
}
.header-cta-link:last-child {
  border-right: none;
}

.print, .download {
  padding: 0 16px;
  display: block;
  border-right: 1px solid #DFDFDF;
  color: #272727;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.print::before, .download::before {
  content: "\f02f";
  position: absolute;
  left: 0;
  font-family: "FontAwesome";
  float: left;
}
@media only screen and (min-width: 995px) {
  .print:hover, .download:hover {
    color: #C7000C;
  }
}

.download {
  border-right: none;
}
.download::before {
  content: "\f019";
}

.container {
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EFEFEF;
}

.hamburger {
  display: none;
}

.sidebar {
  position: relative;
  background-color: #272727;
  -ms-flex-preferred-size: 16.5%;
  flex-basis: 16.5%;
}

.navbar {
  padding: 15px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-item {
  padding: 9px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8C8787;
  font-size: 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-item-active {
  color: #fff;
}
.menu-item::before {
  margin-right: 7%;
  font-family: "FontAwesome";
  font-size: 12px;
  float: left;
}
@media only screen and (min-width: 995px) {
  .menu-item:hover {
    color: #fff;
  }
}

.dashboard::before {
  content: "\f015";
}

.bill-details::before {
  content: "\f15c";
}

.bill-analysis::before {
  content: "\f201";
  margin-right: 4%;
}

.alert-prefrences::before {
  content: "\f0f3";
  margin-right: 4%;
}

.manage-account::before {
  content: "\f007";
}

.live-chat {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1A1A1A;
  text-align: center;
}
.live-chat-cta {
  padding: 12px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8C8787;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.live-chat-cta::before {
  content: "\f086";
  margin-right: 6%;
  font-family: "FontAwesome";
  font-size: 28px;
  float: left;
}
@media only screen and (min-width: 995px) {
  .live-chat-cta:hover {
    color: #fff;
  }
}

.profile-section {
  -ms-flex-preferred-size: 76%;
  flex-basis: 76%;
}
.profile-section .wrapper {
  width: 96.8%;
}

.account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.account-list {
  padding: 11px 2% 17px;
  margin: 15px 0 0;
  background-color: #fff;
}

.heading {
  padding-bottom: 2px;
  border-bottom: 1px solid #DFDFDF;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.information {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}

.instruction-text {
  font-size: 12px;
}

.profile-cta-link {
  color: #4C4C4C;
  text-indent: -9999px;
}
.profile-cta-link::before {
  content: "\f044";
  font-family: "FontAwesome";
  float: right;
  text-indent: 0;
}

.form-container {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}
.form-container .form-group {
  margin: 0;
  display: block;
}

.profile-complete {
  margin-right: 9%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.profile-completion {
  padding: 32px 0;
  margin-left: 2%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.profile-head {
  font-size: 14px;
}

.profile-percentage {
  font-size: 42px;
}

.language {
  margin-top: 10px;
  position: relative;
}
.language-preference {
  margin-left: 10%;
  line-height: 0.8;
}
.language span {
  font-size: 11px;
  font-weight: 600;
}
.language span::before {
  content: "\f27a";
  position: absolute;
  top: 4px;
  left: 0;
  color: #C7000C;
  font-family: "FontAwesome";
  font-size: 12px;
  float: left;
}

.select-language {
  color: #000;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .select-language:hover {
    color: #C7000C;
  }
}

.profile-information {
  margin: 4px 5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.form-input {
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
}

.information-list {
  padding-bottom: 18px;
  position: relative;
}
.information-list:nth-child(1) .information-heading::before {
  content: "\f007";
}
.information-list:nth-child(2) .information-heading::before {
  content: "\f095";
}
.information-list:nth-child(3) .information-heading::before {
  content: "\f041";
}
.information-list:nth-child(4) .information-heading::before {
  content: "\f0e0";
}

.information-heading {
  margin-left: 11%;
  font-size: 11px;
  text-transform: capitalize;
}
.information-heading::before {
  position: absolute;
  left: 0;
  color: #C7000C;
  font-family: "FontAwesome";
  font-size: 14px;
}

.address-info {
  display: block;
}

.information-link {
  line-height: 0.7;
}

.information-cta {
  margin-left: 11%;
  color: #4C4C4C;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .information-cta:hover {
    color: #C7000C;
  }
}

.form-heading {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 600;
}

.date-container {
  margin: 4px 0 8px 1%;
}

.form-date {
  width: 10%;
  padding: 8px 7px;
  border: 1px solid #DFDFDF;
  margin-right: 2%;
  font-size: 10px;
  text-align: center;
}
.form-date::placeholder {
  text-transform: uppercase;
}
.form-date:last-child {
  width: 15%;
}

.gender-container {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gender-list {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}
.gender-list:nth-child(1) .gender-cta::before {
  content: "\f221";
}
.gender-list:nth-child(2) .gender-cta::before {
  content: "\f222";
}

.gender-cta {
  padding: 8px 0;
  border: 1px solid #DFDFDF;
  display: block;
  color: #000;
  font-size: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gender-cta-active {
  border: 1px solid #4C4C4C;
  background-color: #4C4C4C;
  color: #fff;
}
.gender-cta::before {
  margin-right: 8%;
  font-family: "FontAwesome";
  float: inherit;
}
@media only screen and (min-width: 995px) {
  .gender-cta:hover {
    border: 1px solid #4C4C4C;
    background-color: #4C4C4C;
    color: #fff;
  }
}

.form-group {
  margin: 5px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  width: 17px;
  height: 17px;
  margin-right: 1%;
}

.confirm-label {
  color: #8C8787;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .confirm-label:hover {
    color: #C7000C;
  }
}

.form-submit {
  margin: 0;
  border-top: 1px solid #DFDFDF;
}
.form-submit input {
  padding: 8px 2.4%;
  margin: 10px 0 0 auto;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #4C4C4C;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .form-submit input:hover {
    background-color: #272727;
  }
}

.energy-top {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.energy-top .content-left {
  margin: 0 8% 50px;
  position: relative;
  -ms-flex-preferred-size: 63.5%;
  flex-basis: 63.5%;
}
.energy-top .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.energy-heading {
  font-size: 11px;
}

.target {
  margin: 7px 0;
  background-color: #DFDFDF;
  line-height: 1.7;
}

.score {
  width: 74%;
  display: block;
  background-color: #70C1B3;
  text-indent: -9999px;
}

.energy-cta-link {
  color: #C7000C;
  font-size: 11px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .energy-cta-link:hover {
    color: #92000a;
  }
}

.discount {
  width: 25.5%;
  border: 1px outset #DFDFDF;
  border-radius: 8px;
  position: absolute;
  top: 67px;
  left: 70.5%;
}

.offer {
  padding: 7px 0;
  display: block;
  color: #4C4C4C;
  font-size: 11px;
  text-align: center;
}

.milestone-heading {
  font-size: 14px;
}

.milestone-percentage {
  font-size: 44px;
  font-weight: 600;
}

.energy-bottom {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  background-color: #F6F6F6;
}

.energy-bottom-heading {
  font-size: 12px;
}

.energy-bottom-left {
  margin-right: 2%;
  line-height: 0;
}

.energy-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.capacity-limit {
  width: 29%;
  padding: 5px 5%;
  border: 1px outset #DFDFDF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.limit-edit {
  padding: 5px 8px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #4C4C4C;
  color: #fff;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.limit-edit::before {
  content: "\f044";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}
@media only screen and (min-width: 995px) {
  .limit-edit:hover {
    background-color: #272727;
  }
}

.bill-payment {
  padding-bottom: 37px;
  -ms-flex-preferred-size: 37%;
  flex-basis: 37%;
}
.bill-payment .wrapper {
  width: 100%;
}
.bill-payment-list:first-child {
  padding: 14px 3.6%;
  margin: 15px 0;
  background-color: #fff;
}
.bill-payment-list:first-child .heading {
  margin: 0 2%;
}

.address-attachment {
  margin-top: 16px;
}

footer {
  width: 50%;
  padding: 10px 0 12px;
  position: absolute;
  bottom: 0;
  left: 13%;
}

.copyright {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
