/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96.61%;
  margin: 0 auto;
}

header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  -ms-flex-preferred-size: 12.8%;
  flex-basis: 12.8%;
}

.main-logo {
  padding: 20px;
  background-color: #F6F6F6;
  color: #C7000C;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.profile-attachment {
  margin-right: 2%;
}

.profile-image {
  border-radius: 50%;
}

.main-heading {
  font-size: 14px;
  text-transform: uppercase;
}

.account-number {
  color: #C7000C;
  font-size: 12px;
  font-weight: 600;
}

.address, .date-due {
  color: #000;
  font-size: 10px;
}

.header-content {
  -ms-flex-preferred-size: 87.2%;
  flex-basis: 87.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}

.profile {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.payment {
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}
.payment-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}
.payment-content {
  flex-basis: 51%;
}

.pay-now, .save-date {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}
.pay-now-cta, .save-date-cta {
  padding: 8px 24%;
  border-radius: 4px;
  background-color: #C7000C;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}

.save-date {
  margin-left: 6%;
}
.save-date-cta {
  padding: 8px 20%;
  background-color: #4C4C4C;
}

.header-cta {
  margin-left: 4.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.print, .download {
  padding: 0 20px;
  border-right: 1px solid #DFDFDF;
  color: #272727;
  font-size: 12px;
  text-transform: uppercase;
}

.download {
  border-right: none;
}

/*# sourceMappingURL=style.css.map */
