header {
  .wrapper {
    width: 100%;
    @include flexBox(flex);
  }
}

.logo { @include flexBasis(12.8%); }

.main-logo {
  padding: 20px 0;
  display: block;
  background-color: $logobg-color;
  color: $primary-color;
  @include fontProperty($size: 32px, $weight: 900);
  text-align: center;
  text-transform: uppercase;
}

.profile-attachment { margin-right: 2%; }
.profile-image { border-radius: 50%; }

.main-heading {
  @include fontProperty($size: 14px);
  text-transform: uppercase;
}

.account-number {
  color: $primary-color;
  @include fontProperty($size: 12px, $weight: 600);
}

.address {
  color: $black;
  @include fontProperty($size: 10px);
}

.header-content {
  @include flexBasis(87.2%);
  @include flexBox(flex, $align-items: center, $justify: space-between);
}

.profile {
  margin-left: 5%;
  @include flexBox(flex, $align-items: center);
  @include flexBasis(50%);
}

.payment {
  margin-left: 4%;
  @include flexBox(flex, $align-items: center);
  @include flexBasis(51%);

  &-cta {
    @include flexBox(flex, $align-items: center, $justify: flex-end);
    @include flexBasis(51%);
  }


  &-content {
    flex-basis: 51%;
  }
}

.date-due {
  @extend .address;
}

.pay-now {
  @include flexBasis(47%);

  &-cta {
    padding: 8px 24%;
    border-radius: 4px;
    background-color: $primary-color;
    color: $white;
    @include fontProperty($size: 10px);
    text-transform: capitalize;
    @include transition(all .3s ease);

    @include reverseResponsive($tablet) {
      &:hover { background-color: $primary-dark; }
    }
  }
}

.save-date {
  @extend .pay-now;
  margin-left: 6%;

  &-cta {
    @extend .pay-now-cta;
    padding: 8px 20%;
    background-color: $secondary-color;
    @include transition(all .3s ease);

    @include reverseResponsive($tablet) {
      &:hover { background-color: $secondary-dark; }
    }
  }
}

.header-cta {
  margin-left: 4.6%;
  @include flexBox(flex, $align-items: center, $justify: flex-end);
  @include flexBasis(50%);
}

.header-cta-link {
  margin: 0 7px;
  border-right: 1px solid $secondary-light;
  position: relative;

  &:last-child { border-right: none; }
}

.print {
  padding: 0 16px;
  display: block;
  border-right: 1px solid $secondary-light;
  color: $secondary-dark;
  @include fontProperty($size: 10px);
  text-transform: uppercase;
  @include transition(all .3s ease);

  &::before {
    content: '\f02f';
    position: absolute;
    left: 0;
    @include fontProperty('FontAwesome');
    float: left;
  }
  
  @include reverseResponsive($tablet) {
    &:hover { color: $primary-color; }
  }
}

.download {
  @extend .print;
  border-right: none;

  &::before {
    content: '\f019';
  }
}