// color variables
$primary-color: #C7000C;
$secondary-color: #4C4C4C;
$secondary-dark: #272727;
$secondary-light: #DFDFDF;
$tertiary-color: #70C1B3;
$text-color: #8C8787;
$body-color: #EFEFEF;
$logobg-color: #F6F6F6;
$white: #fff;
$black: #000;
$live-chat-bg-color: #1A1A1A;

// responsive devices breakpoints
$laptop : 1024px;
$tablet : 995px;
$iPad : 768px;
$mobile : 540px;
$iPhone : 375px;