// siderbar section starts here
.container { position: relative; }

main {
  @include flexBox(flex);
  background-color: $body-color;
}

.hamburger { display: none; }

.sidebar {
  position: relative;
  background-color: $secondary-dark;
  @include flexBasis(16.5%);
}

.navbar { padding: 15px 0; }

.menu {
  @include flexBox(flex, $direction: column);
}

.menu-item {
  padding: 9px 12%;
  @include flexBox(flex, $align-items: center);
  color: $text-color;
  @include fontProperty($size: 10px);
  text-transform: capitalize;
  @include transition(all .3s ease);

  &-active {
    color: $white;
  }

  &::before {
    margin-right: 7%;
    @include fontProperty('FontAwesome', 12px);
    float: left;
  }

  @include reverseResponsive($tablet) {
    &:hover { color: $white; }
  }
}

.dashboard::before { content: '\f015'; }
.bill-details::before { content: '\f15c'; }

.bill-analysis::before {
  content: '\f201';
  margin-right: 4%;
}

.alert-prefrences::before {
  content: '\f0f3';
  margin-right: 4%;
}

.manage-account::before { content: '\f007'; }

.live-chat {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $live-chat-bg-color;
  text-align: center;
  
  &-cta {
    padding: 12px 12%;
    @include flexBox(flex, $align-items: center);
    color: $text-color;
    @include fontProperty($size: 10px);
    text-transform: uppercase;
    @include transition(all .3s ease);

    &::before {
      content: '\f086';
      margin-right: 6%;
      @include fontProperty('FontAwesome', 28px);
      float: left;
    }

    @include reverseResponsive($tablet) {
      &:hover { color: $white; }
    }
  }
}
// siderbar section ends here
// profile section starts here
.profile-section {
  @include flexBasis(76%);

  .wrapper { width: 96.8%; }
}

.account-container {
  @include flexBox(flex, $direction: column);
}

.account-list {
  padding: 11px 2% 17px;
  margin: 15px 0 0;
  background-color: $white;
}

.heading {
  padding-bottom: 2px;
  border-bottom: 1px solid $secondary-light;
  @include fontProperty($size: 11px, $weight: 600);
  text-transform: uppercase
}

.information {
  margin-top: 15px;
  @include flexBox(flex, $align-items: center, $justify: space-between);
}

.instruction-text {
  @include fontProperty($size: 12px);
}

.profile-cta-link {
  color: $secondary-color;
  text-indent: -9999px;

  &::before {
    content: '\f044';
    @include fontProperty('FontAwesome');
    float: right;
    text-indent: 0;
  }
}

.form-container {
  margin-top: 22px;
  @include flexBox(flex, $justify: space-between);

  .form-group {
    margin: 0;
    display: block;
  }
}

.profile-complete {
  margin-right: 9%;
  @include flexBasis(20%);
}

.profile-completion {
  padding: 32px 0;
  margin-left: 2%;
  border-radius: 50%;
  @include flexBox(flex, $align-items: center, $direction: column);
  background-color: $black;
  color: $white;
}

.profile-head {
  @include fontProperty($size: 14px);
}

.profile-percentage {
  @include fontProperty($size: 42px);
}

.language {
  margin-top: 10px;
  position: relative;

  &-preference {
    margin-left: 10%;
    @include fontProperty($line-height: .8);
  }

  span {
    @include fontProperty($size: 11px, $weight: 600);

    &::before {
      content: '\f27a';
      position: absolute;
      top: 4px;
      left: 0;
      color: $primary-color;
      @include fontProperty('FontAwesome', 12px);
      float: left;
    }
  }
}

.select-language {
  color: $black;
  @include fontProperty($size: 11px);
  @include transition(all .3s ease);

  @include reverseResponsive($tablet) {
    &:hover { color: $primary-color; }
  }
}

.profile-information {
  margin: 4px 5% 0 0;
  @include flexBox(flex, $direction: column);
  @include flexBasis(22%);
}

.form-input { @include flexBasis(26%); }

.information-list {
  padding-bottom: 18px;
  position: relative;

  &:nth-child(1) .information-heading::before { content: '\f007'; }
  &:nth-child(2) .information-heading::before { content: '\f095'; }
  &:nth-child(3) .information-heading::before { content: '\f041'; }
  &:nth-child(4) .information-heading::before { content: '\f0e0'; }
}

.information-heading {
  margin-left: 11%;
  @include fontProperty($size: 11px);
  text-transform: capitalize;

  &::before {
    position: absolute;
    left: 0;
    color: $primary-color;
    @include fontProperty('FontAwesome', 14px);
  }
}

.address-info { display: block; }

.information-link { @include fontProperty($line-height: .7); }

.information-cta {
  margin-left: 11%;
  color: $secondary-color;
  @include fontProperty($size: 11px);
  @include transition(all .3s ease);

  @include reverseResponsive($tablet) {
    &:hover { color: $primary-color; }
  }
}

.form-heading {
  margin-bottom: 10px;
  @include fontProperty($size: 11px, $weight: 600);
}

.date-container { margin: 4px 0 8px 1%; }

.form-date {
  width: 10%;
  padding: 8px 7px;
  border: 1px solid $secondary-light;
  margin-right: 2%;
  @include fontProperty($size: 10px);
  text-align: center;

  &::placeholder { text-transform: uppercase; }
  &:last-child { width: 15%; }
}

.gender-container {
  margin-top: 5px;
  @include flexBox(flex, $align-items: center);
}

.gender-list {
  @include flexBasis(33%);

  &:nth-child(1) .gender-cta::before { content: '\f221'; }
  &:nth-child(2) .gender-cta::before { content: '\f222'; }
}

.gender-cta {
  padding: 8px 0;
  border: 1px solid $secondary-light;
  display: block;
  color: $black;
  @include fontProperty($size: 10px);
  text-align: center;
  @include transition(all .3s ease);

  &-active {
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: $white;
  }

  &::before {
    margin-right: 8%;
    @include fontProperty('FontAwesome');
    float: inherit;
  }

  @include reverseResponsive($tablet) {
    &:hover {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: $white;
    }
  }
}

.form-group {
  margin: 5px 0 8px;
  @include flexBox(flex, $align-items: center);
}

.checkbox {
  width: 17px;
  height: 17px;
  margin-right: 1%;
}

.confirm-label {
  color: $text-color;
  @include fontProperty($size: 11px);
  @include transition(all .3s ease);

  @include reverseResponsive($tablet) {
    &:hover { color: $primary-color; }
  }
}

.form-submit {
  margin: 0;
  border-top: 1px solid $secondary-light;

  input {
    padding: 8px 2.4%;
    margin: 10px 0 0 auto;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: $secondary-color;
    color: $white;
    @include fontProperty($size: 10px);
    text-transform: capitalize;
    @include transition(all .3s ease);

    @include reverseResponsive($tablet) {
      &:hover { background-color: $secondary-dark; }
    }
  }
}

.energy-top {
  margin: 15px 0;
  @include flexBox(flex);

  .content-left {
    margin: 0 8% 50px;
    position: relative;
    @include flexBasis(63.5%);
  }

  .content-right {
    @include flexBox(flex, $align-items: center, $direction: column);
    @include flexBasis(10%);
  }
}

.energy-heading {
  @include fontProperty($size: 11px);
}

.target {
  margin: 7px 0;
  background-color: $secondary-light;
  @include fontProperty($line-height: 1.7);
}

.score {
  width: 74%;
  display: block;
  background-color: $tertiary-color;
  text-indent: -9999px;
}

.energy-cta-link {
  color: $primary-color;
  @include fontProperty($size: 11px);
  text-decoration: underline;
  @include transition(all .3s ease);

  @include reverseResponsive($tablet) {
    &:hover { color: $primary-dark; }
  }
}

.discount {
  width: 25.5%;
  border: 1px outset $secondary-light;
  border-radius: 8px;
  position: absolute;
  top: 67px;
  left: 70.5%;
}

.offer {
  padding: 7px 0;
  display: block;
  color: $secondary-color;
  @include fontProperty($size: 11px);
  text-align: center;
}

.milestone-heading {
  @include fontProperty($size: 14px);
}

.milestone-percentage {
  @include fontProperty($size: 44px, $weight: 600);
}

.energy-bottom {
  padding: 16px;
  @include flexBox(flex, $align-items: center, $justify: flex-end);
  background-color: $logobg-color;
}

.energy-bottom-heading {
  @include fontProperty($size: 12px);
}

.energy-bottom-left {
  margin-right: 2%;
  @include fontProperty($line-height: 0);
}

.energy-bottom-right {
  @include flexBox(flex, $align-items: center);
  @include flexBasis(45%);
}

.capacity-limit {
  width: 29%;
  padding: 5px 5%;
  border: 1px outset $secondary-light;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.limit-edit {
  padding: 5px 8px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $secondary-color;
  color: $white;
  text-indent: -9999px;
  @include transition(all .3s ease);

  &::before {
    content: '\f044';
    @include fontProperty('FontAwesome');
    float: left;
    text-indent: 0;
  }

  @include reverseResponsive($tablet) {
    &:hover { background-color: $secondary-dark; }
  }
}
// profile section ends here
// bill payment section starts here
.bill-payment {
  padding-bottom: 37px;
  @include flexBasis(37%);

  .wrapper { width: 100%; }

  &-list:first-child {
    padding: 14px 3.6%;
    margin: 15px 0;
    background-color: $white;

    .heading { margin: 0 2%; }
  }
}

.address-attachment { margin-top: 16px; }
// bill payment section ends here